.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 10%;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #0a66c2;
  background-image: url("../assets/logo.jpeg");
  background-size: contain; background-repeat: no-repeat ;width: 200px; height:35px; display: inline-block;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
    
    
}

.nav a:hover {
  color: #0a66c2;
}

.nav a {
  position: relative;
}

.nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #0a66c2;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

.call-btn {
  background-color: #0a66c2;
  color: white;
  padding: 8px 18px;
  border-radius: 25px;
}

.call-btn:hover {
  background: #084c96;
}
