
 .hero {
  background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.hero-content h1 {
  font-size: 48px;
  margin-bottom: 60px;
  margin-top: 50px;
}

.hero-content p {
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 600px;
}

.cta-btn {
  background: white;
  color: #0a66c2;
  padding: 12px 30px;
  border-radius: 30px;
  font-weight: bold;
  
}

.cta-btn:hover {
  background: #f1f1f1;
}
