* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #f9fbfd;
  color: #333;
  line-height: 1.6;
}

h1, h2, h3 {
  font-weight: 600;
}

section {
  padding: 70px 10%;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s ease;
}
@media (max-width: 768px) {

  .about-box,
  .service-container {
    flex-direction: column;
  }

  .nav {
    display: none;
  }

  .hero-content h1 {
    font-size: 32px;
  }
}
